.main{
  display: flex;
  text-align: center;
}

.sidebar {
  width: 30%;
  height: 100vh;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(170, 168, 168);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

.heading_css {
  position: sticky;
  top: 0;
  width: 100%;
}
.heading {
  font-weight: 550;
  font-size: 30px;
  color: "#000000";
  padding-top: 30px;
 }

.note_list {
  overflow: scroll;
  overflow-x: hidden;
  height: 80vh;
  margin-top: 45px;
}

.note_name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 22px;
  cursor: pointer;
}

.note_avatar {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 2px black;
  height: 55px;
  width: 55px;
}

.add_icon{
    position: absolute;
    bottom: 50px ;
    left: 340px;
}
.add_icon_style{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #16008B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
